

.dark {
    --q-color-primary   : #e3ae02;
    --q-color-secondary : #a69d26;
    --q-color-accent    : #9C27B0;
    
    --q-color-positive  : #21BA45;
    --q-color-negative  : #C10015;
    --q-color-info      : #31CCEC;
    --q-color-warning   : #F2C037;
}
