
.light {
    --q-color-primary   : #4caf50;
    --q-color-secondary : #66bb6a;
    --q-color-accent    : #00c853;
    
    --q-color-positive  : #21BA45;
    --q-color-negative  : #C10015;
    --q-color-info      : #31CCEC;
    --q-color-warning   : #F2C037;
}